<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

  </head>
  <body>
    <header>
        <nav>
          <ul class="logo-list">
            <li class="logo"> <a href="/"><img src="/images/dh.png" alt=""></a></li>
          </ul>
          <ul class="ul-menu">
            <li class="menu-item home inicio"><a class="color-violet" href="/">Inicio</a></li>
            <li class="menu-item"><a class="color-violet" href="/generos">Géneros</a></li>
            <li class="menu-item"><a class="color-violet" href='/buscar'>Buscador</a></li>
            <li class="menu-item search formBuscar">
                <form class="" action="/buscar/resultados" method="GET">
                    <input class="input-search" type="text" name="query" value="">
                    <button class="btn-search" type="submit">Buscar</button>
                </form>
            </li>
            <li class="menu-item"><a class="color-violet" href="/registros">Regístrate</a></li>
            <li class="menu-item reseñas"><a class="color-violet" href="/login">Mis reseñas</a></li>
          </ul>
        </nav>
    </header>
    <main align= "center">

      <h2>Detalle del usuario: <%= detalleUsuario.username %> </h2>
      <p>
        <b>Email:</b> <%= detalleUsuario.email %>
      </p>
      <p>
        <b>Fecha de nacimiento:</b> <%= detalleUsuario.dateofbirth %>
      </p>
      <p>
        <b>Género favorito:</b> <%= detalleUsuario.favoriteGenre %>
      </p>

    </main>

    <!-- footer -->
  <footer>

    <div class="dh"><img src="/images/logo-dh-blanco.png" alt="dh"></div>
    
    <div class="tmdb"><img src="/images/logotmdb.jpg" alt="tmdb"></div>

    <article class="">
      <strong style="color: rgb(203, 30, 64);">INTEGRANTES</strong>
      <ul>
        <li>Joaquín Gomez Rebelo</li>
        <li>Eric Ryosho Shimizukawa</li>
        <li>Candela Rocío Flores</li>
      </ul>
    </article>

  </footer>
  </body>
</html>
