<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/home.js" ></script>


  </head>
  <body>
    <header>
        <nav>
            <ul class="logo-list">
                <li class="logo"> <img src="/images/dh.png" alt=""> </li>
            </ul>
            <ul class="ul-menu">
                <li class="menu-item home"><a class="color-violet" href="/">Inicio</a></li>
                <li class="menu-item"><a class="color-violet" href="/generos">Géneros</a></li>
                <li class="menu-item"><a class="color-violet" href='/buscar'>Buscador</a></li>
                <li class="menu-item search">
                    <form class="" action="/buscar/resultados" method="GET">
                        <input class="input-search" type="text" name="query" value="">
                        <button class="btn-search" type="submit">Buscar</button>
                    </form>
                </li>


                <li class="menu-item"><a class="color-violet" href="/registros">Regístrate</a></li>


                <li class="menu-item"><a class="color-violet" href="/login">Mis reseñas</a></li>


            </ul>
        </nav>
    </header>
    <main>
        <div class="uk-section fondoNegro">
          <!-- <div class="uk-container"> -->
          <h2>Popular Series</h2>
          <div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; autoplay: true">
            <ul class="uk-slider-items uk-grid" id="populares">
              <!-- POPULARES -->
            </ul>
            <a class="iconSlider uk-position-center-left uk-position-small uk-hidden-hover" href="/detalles" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="iconSlider uk-position-center-right uk-position-small uk-hidden-hover" href="/detalles" uk-slidenav-next uk-slider-item="next"></a>

        </div>
        <!-- </div> -->
      </div>
        <div class="uk-section fondoNegro">
          <!-- <div class="uk-container"> -->
          <h2>Top Rated Series</h2>
          <div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; autoplay: true">
            <ul class="uk-slider-items uk-grid" id="top-rated">
              <!-- TOP RATED -->
            </ul>
            <a class="iconSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="iconSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>
      <!-- </div> -->
      </div>
      <!-- </div> -->
        <div class="uk-section fondoNegro">
          <!-- <div class="uk-container"> -->
          <h2>Airing Today</h2>
          <div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; autoplay: true">
            <ul class="uk-slider-items uk-grid" id="airing">
              <!-- AIRING TODAY -->
            </ul>
            <a class="iconSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="iconSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>
        <!-- </div> -->
      </div>
    </main>

    <div style="height: 120px;"></div>

  <!-- footer -->
  <footer>

    <div class="dh"><img src="/images/logo-dh-blanco.png" alt="dh"></div>
    
    <div class="tmdb"><img src="/images/logotmdb.jpg" alt="tmdb"></div>

    <article class="">
      <strong style="color: rgb(203, 30, 64);">INTEGRANTES</strong>
      <ul>
        <li>Joaquín Gomez Rebelo</li>
        <li>Eric Ryosho Shimizukawa</li>
        <li>Candela Rocío Flores</li>
      </ul>
    </article>

  </footer>

</body>

</html>
</html>