<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

  </head>
  <body>
    <header>
        <nav>
            <ul class="logo-list">
                <li class="logo"> <img src="/images/dh.png" alt=""> </li>
            </ul>
            <ul class="ul-menu">
                <li class="menu-item home"><a class="color-violet" href="/">Inicio</a></li>
                <li class="menu-item"><a class="color-violet" href="/generos">Géneros</a></li>
                <li class="menu-item"><a class="color-violet" href="/buscar">Buscador</a></li>
                <li class="menu-item search">
                    <form class="" action="/buscar/resultados" method="GET">
                        <input class="input-search" type="text" name="input-search" value="">
                        <button class="btn-search" type="submit" name="button">Buscar</button>
                    </form>
                </li>
                <li class="menu-item"><a class="color-violet" href="/registros">Regístrate</a></li>

            </ul>
        </nav>
    </header>
    <main>  
      
      <div align= "center" > 
          <br>
          <br>
         <strong>No se han encontrado resultados acordes con los criterios de busqueda, intenta lo siguiente:</strong>
         <p>Completa uno de los campos.</p>   
         <p>¿Deseas realizar otra búsqueda? Haz click <a href="/buscar/busqueda_usuarios">aquí</a>.</p>  
      </div>

      
      

    </main>

  </body>
</html>
