header{
    margin-bottom: 100px
  }
  
  div.container{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
   
  }
  div.container input.form-control{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

  }
  h2 {

    text-align: center;
  }

  div.review {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }

  div.contenido {
    padding-top: 10px;
    position: relative;
    color: white;
    width: 40%;
    margin-left: 30%;
    padding-right:20px ;
    padding-left:20px ;
    background-color: grey;
    padding-bottom: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(61, 61, 61);
    margin-bottom: 20px;
    
  }

  h5{
    width: 100px;
    background-color: lightseagreen;
    margin-left: 20px;
    color: white;
    
    text-align: center;
    padding: 6px;


  }
  

  a.botonEditar {

    background-color: royalblue;
    margin-right: 40px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    border-radius: 4%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(97, 96, 96);
  }

  a.botonBorrar{
   
    background-color: red;
    border-radius: 4%;
    margin-left: 40px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(97, 96, 96);
  }

  a.botonSerie{

    background-color:seagreen;
    border-radius: 4%;
    
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(97, 96, 96);


  }

  
a.botonBorrar:hover{
  background-color: rgb(255, 62, 62);
    border-radius: 4%;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

a.botonEditar:hover{
  
  background-color: rgb(77, 114, 228);
  margin-right:40px;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  border-radius: 4%;
  border-style: solid;
  border-width: 1px;
  border-color:grey;
}
  
a.botonSerie:hover{

  background-color: rgb(64, 145, 99);
    border-radius: 4%;
    
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;


}


@media only screen and (max-width: 500px)  {

div.container {
margin-bottom: 80px;


}

div.contenido {
 margin-bottom: 30PX;
 width: 80%;
 right: 20%;
}

a.botonEditar { 
  

}

a.botonSerie {
  margin-left: -9%;
  

}

a.botonBorrar {
  margin-left: 2%;
  
}

    
}