div.container {

    position: relative;
    height: 1000px;
}

div.form-group {
    width: 70%;
    margin-left: 15%;
}

.rating {
    position: relative;
    top: 257%;
    left: 8%;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
  }
  .rating input {
    display: none;
  }
  .rating label {
  display: block;
  cursor: pointer;
  width: 50px;
  }
  .rating label:before {
    content: "\f005";
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #2c2b2b;
  
  }
  .rating label:after {
    content: "\f005";
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: rgba(112, 19, 138, 0.86);
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
  }
  .rating label:hover:after,
  .rating label:hover ~ label:after,
  .rating input:checked ~ label:after {
    opacity: 1;
  }

  .buttonForm {
    background-image: linear-gradient(rgba(112, 19, 138, 0.86), #c5454d);
    text-decoration-color: white;
    border-color: black; 
    border-radius: 40px;
    width: 8%;
    height: 30px;
    font-size: 18px;
  }

  input.form-control {
    
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    height: 37px;

    font-size: 16px;
    border-radius: 2%;
    
      
      

      
  }

  textarea.comentario {
     width: 50%;
    
     outline: none;
     background-color: white;
     font-family: Arial, Helvetica, sans-serif ;
     color: currentColor;
     font-size: 17px;
     
     text-align: center;
     border-radius: 2%;
  }


  @media only screen and (max-width: 500px)  {
    div.rating {
      margin-left: 33%;
    }

    button.buttonForm {
      width: 100px;
    }



    
  }